<h1>近藤　優衣</h1>
<ul>
  <h2>ノートルダム清心女子大学<h2>
    <h3><人間生活学科</h3>
    <h3>３年生</h3>
    <h3>社会福祉学専攻</h3>
    
  
    <h2>趣味</h2>
      <h3>旅行とライブ</h3>
      <h2>今まで行った国<h2>
      <h3><ul>オーストラリア</ul><h3>
      <h3><ul>アメリカ(グアム)</ul><h3>
      <h3><ul>韓国</ul><h3>
      <h3><ul>中国</ul><h3>
      <h3><ul>ネパール</ul><h3>
    